@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  background: none;
}

/*--------------------*/

[class*=__container] {
  max-width: 1526px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* PC -  991.98*/

/* TABLET - 991.98 */

/* MOBILE  - 767.98 */

/* MOBILE SMALL  -479.98 */

:root {
  --dark-color: #0D0D0D;
  --secondery-color: #171717;
  --third-color: #E0E0E0;
  --forth-color: #080A0D;
  --light-color: #fff;
  --linear-background: linear-gradient(274.7deg, #DFF1F4 -0.81%, #E9EAEC 98.64%);
  --main-color: #fff;
  --linear-color: linear-gradient(90deg, rgba(255, 255, 255, 0.81) 19.79%, rgba(255, 255, 255, 0) 97.4%);
}

.dark-theme {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  --main-color: #121416;
  --dark-color: #fff;
  --secondery-color: #fff;
  --third-color: #fff;
  --forth-color: #fff;
  --light-color: #0A0D11;
  --linear-color: rgba(8, 10, 14,0.7);
  --linear-background: #07090C;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-color);
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__icon {
  cursor: pointer;
  margin-left: 34px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0px;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: var(--dark-color);
}

.orpheus {
  padding-top: 125px;
}

.orpheus__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 552px;
          flex: 0 1 552px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.orpheus__title {
  font-family: "Cinzel";
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.01em;
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.orpheus__title span {
  display: block;
  font-family: "Cinzel";
  font-weight: bold;
  letter-spacing: 0.6em;
}

.orpheus__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 227%;
  text-align: justify;
  text-transform: capitalize;
  color: var(--secondery-color);
}

.orpheus__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}

.orpheus__button:nth-child(1) {
  border: 2px solid #FFE195;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 50px;
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.orpheus__button:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Linear-light-mode */
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  border-radius: 5px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--light-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
}

.orpheus__bg img {
  width: 100%;
}

.products {
  padding-top: 166px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 72px;
}

.products__item {
  position: relative;
}

.products__item:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: var(--linear-color);
}

.products__img img {
  width: 100%;
}

.contribution {
  padding-top: 81px;
}

.contribution__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
}

.contribution__label {
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  text-transform: uppercase;
}

.contribution__more {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: var(--secondery-color);
}

.contribution__more::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 70%;
  margin-left: -27px;
  background: #D99A01;
}

.contribution__body {
  cursor: pointer;
  margin-top: 34px;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contribution__body:hover::before {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--linear-color);
  height: 100%;
  z-index: 5;
}

.contribution__body:hover .contribution__main {
  -webkit-transition: width 0.4s ease 0s;
  -o-transition: width 0.4s ease 0s;
  transition: width 0.4s ease 0s;
  height: 100%;
  width: 50%;
  opacity: 1;
  visibility: visible;
  overflow: auto;
}

.contribution__img {
  position: relative;
  padding-bottom: 29%;
}

.contribution__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contribution__main {
  -webkit-transition: width 0.4s ease 0s;
  -o-transition: width 0.4s ease 0s;
  transition: width 0.4s ease 0s;
  opacity: 1;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 10;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--linear-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-contribution__title {
  /* Linear-light-mode */
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main-contribution__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  /* or 156% */
  text-align: center;
  letter-spacing: 0.285em;
  text-transform: uppercase;
  color: var(--forth-color);
}

.main-contribution__button {
  /* Linear-light-mode */
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: var(--light-color);
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  border-radius: 5px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar {
  padding-top: 56px;
}

.avatar__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar__content {
  background: var(--linear-background);
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar__title {
  /* Linear-light-mode */
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.avatar__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  /* or 156% */
  text-align: center;
  letter-spacing: 0.535em;
  text-transform: uppercase;
  color: var(--forth-color);
}

.avatar__bg img {
  width: 100%;
}

.main-contribution__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding-top: 165px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__title {
  background: -o-linear-gradient(154.62deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  background: linear-gradient(295.38deg, #D99A01 4.89%, #9F6605 49.04%, #EFB62B 95.06%);
  -webkit-background-clip: text;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: var(--forth-color);
  text-transform: uppercase;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  min-height: 50px;
  border: 1px solid #D99A01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item i {
  color: #D99A01;
  font-size: 20px;
}

@media (min-width: 1538px) {
  .orpheus__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 159px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1538px) {
  .orpheus__bg {
    position: relative;
    padding-bottom: 20%;
  }

  .orpheus__bg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}

@media (max-width: 479.98px) {
  [class*=__container] {
    max-width: none;
  }
}